<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="base_footprint_link_no_inertial_for_gasebo" child_link="robot_base_link_name">
<link name="base_footprint" />
<joint name="${robot_base_link_name}_joint" type="fixed">
  <parent link="footprint"/>
  <child link="${robot_base_link_name}"/>
</joint>
</xacro:macro>

</robot>